<div class="slideout-layout dx-black-background" data-options="dxLayout : { name: 'simple', platform: 'ios' } " >

    <div class="navigation-list" data-options="dxViewPlaceholder : { viewName: 'nav-list' } " >
    </div>

    <div class="layout-frame dx-content-background" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header dx-toolbar" data-options="dxContentPlaceholder : { name: 'header' } " >
            <div data-bind="dxToolbar: {
                    items: [
                        { text: title, align: 'center' }
                    ]
                }"
               
                class="layout-toolbar">
            </div>
        </div>

        <div class="layout-content dx-ios-stripes" data-options="dxContentPlaceholder : { name: 'content' } " >
            <div class="load-panel" data-bind="dxLoadPanel: { visible: true, shading: false, targetContainer: false }"></div>
        </div>
    </div>

    <div class="view-footer" data-options="dxContent : { targetPlaceholder: 'view-footer' } " >
        <div data-bind="dxToolbar: { visible: false }" class="view-toolbar-bottom" data-options="dxCommandContainer : { locations: [{'name':'delete','showIcon':false,'defaultCommandOptions':{'type':'danger'}}] } " >
        </div>
    </div>
</div>

<div class="win8phone-layout dx-black-background" data-options="dxLayout : { name: 'simple', platform: 'win8', phone: true, controller: 'win8simple' } " >
    <div class="layout-frame dx-content-background">
        <div class="dx-top-header" data-bind="text: title">Header</div>
        <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content', transition: 'slide' } " >
            <div class="load-panel" data-bind="dxLoadPanel: { visible: true, shading: false, targetContainer: false }"></div>
        </div>
    </div>
    <div data-bind="dxToolbar: { items: [], visible: false }" class="layout-toolbar-bottom semi-hidden"
        data-options="dxCommandContainer : { locations: [
            {'name':'create', 'align':'center'},
            {'name':'edit', 'align':'center'},
            {'name':'save', 'align':'center'},
            {'name':'cancel', 'align':'center'},
            {'name':'delete', 'align':'center'}
        ] } " >
    </div>
</div>
