<div data-options="dxView : { name: 'about', title: 'About' } ">
	<div data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div class="about" data-bind="dxScrollView: {}">
			<p>This is the mobile edition of the Heswall Disabled Children's Holiday Fund annual camp Handbook.</p>
			<p>
				Thank you for volunteering for the charity. Please make sure you are familiar with the contents of the handbook, and report any errors
				to <a href="mailto:committee-members@hdchf.org.uk">the committee</a>.
			</p>
			<p>Thanks.</p>
			<hr />
			<p class="button-description">To reload the data in the app, click</p>
			<div data-bind="dxButton: {text: 'Reload Data', clickAction: '#loading'}"></div>
			<hr />
			<p class="button-description">To logout and wipe all data, click</p>
			<div data-bind="dxButton: {text: 'Logout', clickAction: logout}"></div>
		</div>
	</div>
</div>