.about p {
	padding: 5px;
}

.about div.dx-button {
	display:block !important;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.about p.button-description {
	text-align: center;
}