<div data-options="dxView : { name: 'contacts', title: 'Contacts' } ">
	<div class="home-view" data-options="dxContent : { targetPlaceholder: 'content' } ">
		<div class="contacts" data-bind="dxList: { dataSource: contacts, grouped: true, itemClickAction: clickHelper }">
			<div data-options="dxTemplate: { name: 'group' }">
				<b><span data-bind="text: $data.key"></span></b>
			</div>
			<div data-options="dxTemplate: { name: 'item' }">
				<div>
					<span data-bind="text: $data.name"></span>
					<div class="dx-button">
						<a data-bind="attr:{'href': 'tel:'+$data.mobile}" class="dx-button-content">
						  <span data-bind="attr:{ 'class': 'dx-icon dx-icon-tel'}"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>