<div data-options="dxView : { name: 'home', title: 'Camp Handbook' } ">
	<div class="home-view" data-options="dxContent : { targetPlaceholder: 'content' }">
<!--     <div data-bind="dxNavBar:{dataSource: navItems, itemClickAction: navItemClicked}"></div> -->
<!--     <div data-bind="visible: selectedNavItem() == 'Programme'">Programme -->
      <div class="programme" data-bind="dxList: { dataSource: programme, grouped: false }">
		    <div data-options="dxTemplate: { name: 'item' }">
	        <div class="activity">
            <div class="activity-time" data-bind="text: $data.time"></div>
            <!-- ko if: $data.icon -->
	          <span data-bind="attr:{ 'class': 'dx-icon dx-icon-' + $data.icon }, visible: $data.icon"></span>
            <!-- /ko -->
            <!-- ko if: $data.iconSrc -->
            <img class="dx-icon" data-bind="attr: { src: $data.iconSrc}, visible: $data.iconSrc" />
            <!-- /ko -->
            <div>
		          <div class="activity-title" data-bind="text: $data.activity"></div>
	            <div class="activity-details" data-bind="html: $data.details"></div>
            </div>
	        </div>
		    </div>
      </div>
<!--     </div> -->
<!--     <div data-bind="visible: selectedNavItem() == 'Kitchen Rota'">Kitchen Rota</div> -->
<!--     <div data-bind="visible: selectedNavItem() == 'Night Shift Rota'">Night Shift Rota</div> -->
	</div>
</div>