/* Put css styles for home view here */
.home-view p {
	padding: 5px;
}
.activity-time {
	float: left;
	width: 55px;
}
.activity .activity-title {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}
.activity .activity-details {
  text-align: left;
  font-size: 0.8em;
  padding-top: 4px;
}
.dx-theme-ios .activity .dx-icon, .dx-theme-io7 .activity .dx-icon {
	-webkit-filter: invert(100%);
}
.programme {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;	
}
.dx-list .dx-list-item .activity .dx-icon {
	background-size: 100%;
	float: right;
	margin-left: 15px;
	height: 24px;
	width: 24px;
}