<div data-options="dxView : { name: 'loading', layout: 'simple' } ">
  <div class="home-view" data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div class="app">
      <h1>Camp Handbook</h1>
    </div>
    <div class="welcome loading">
      <h2>Loading...</h2>
      <div data-bind="dxList: { dataSource: toLoad, grouped: false, scrollingEnabled: false }">
        <div data-options="dxTemplate: { name: 'item' }">
          <div>
            <span data-bind="text: $data.label"></span>
            <img src="img/tick.png" data-bind="visible: $data.state() == 'loaded'"/>
            <img src="img/cross.png" data-bind="visible: $data.state() == 'failed'"/>
            <img src="img/loading.gif" data-bind="visible: $data.state() == 'loading'"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>