<div data-options="dxView : { name: 'pin', title: 'Login', layout: 'simple' } ">
  <div class="home-view" data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div class="app">
      <h1>Camp Handbook</h1>
    </div>
    <div class="welcome">
      <p>Thank-you! You'll need to set up a new PIN which you will use to access the app in the future.</p>
      <p><input class="pin" type="number" data-bind="value: pin" /></p>
      <p><button data-bind="click: createLogin">Create</button></p>
    </div>
  </div>
</div>